body{
    background-color: #121212;
    color: white;
}

.page_wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.page_wrapper h1{
    font-family: 'TID UI';
    font-size: 300%;
    margin: 16px;
}
#temptext{
    font-family: 'TID UI';
    font-size: 250%;
    margin: 8px;
}

.fratil{
    background-color: #1f1f1f;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border-radius: 8px;
    padding: 16px 8px;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


#fra, #til{
    padding: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 180%;
}
#fra p, #til p{
    font-family: 'TID UI';
    font-size: 125%;
    margin: 0px;
    margin-bottom: 4px;
}
#fra_input[type=text], #til_input[type=text] {
    width: 32vw;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: #2c2c2c;
    color: white;
    font-family: 'TID UI';
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 100%;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#fra_input::placeholder, #til_input::placeholder {
    color: #787878;
    opacity: 1; /* Firefox */
    transition-property: color;
    transition-duration: 0.2s;
}

#fra_input::-ms-input-placeholder, #til_input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #787878;
}

#fra_input[type=text]:hover, #til_input[type=text]:hover, #fra_input[type=text]:focus, #til_input[type=text]:focus{
    background-color: #393939;
}
#fra_input[type=text].light_mode4:hover, #til_input[type=text].light_mode4:hover, #fra_input[type=text].light_mode4:focus, #til_input[type=text].light_mode4:focus{
    background-color: #bfbfbf;
}

#fra_input, #til_input{
    margin-bottom: 0px;
}
#fra_input:disabled, #til_input:disabled{
    cursor: not-allowed;
}
#fra_velg, #til_velg{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0px;
    height: fit-content;
    margin: 0px;
    font-size: 150%;
    font-family: 'TID UI';
}
.light_mode3 .bus, .light_mode3 .ferry, .light_mode3 .metro, .light_mode3 .train, .light_mode3 .tram{
    color: white;
}
@media only screen and (max-width: 800px) {
    .fratil{
        width: 95vw;
    }
    #fra, #til{
        justify-content: center;
        width: 100%;
    }
    #fra_input[type=text], #til_input[type=text] {
        width: 30vw;
    }
}
@media only screen and (max-width: 500px) {
    .fratil{
        flex-flow: column;
        width: 80vw;
    }
    #fra, #til{
        justify-content: center;
        width: 100%;
    }
    .page_wrapper h1{
        font-family: 'TID UI';
        font-size: 10vw;
        margin: 16px;
    }
    #fra_input[type=text], #til_input[type=text] {
        width: 60vw;
    }
}
.stasjonsP{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-flow: row-reverse;
    padding: 8px;
    margin: 0px;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #2C2C2C;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    width: 95%;
}
#fravelgdiv, #tilvelgdiv{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.søkebutton{
    font-family: 'TID UI';
    font-size: 250%;
    border-radius: 8px;
    border: none;
    background-color: #1f1f1f;
    color: white;
    padding: 8px 32px;
    margin-top: 8px;
    cursor: pointer;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.søkebutton:hover{
    background-color: #2C2C2C;
}
.søkebutton.light_mode2:hover{
    background-color: #cccccc;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    margin: 4px;
}
.bus{
    background-color: #E60000;
}
.metro{
    background-color: #EC700C;
}
.tram{
    background-color: #28A2F8;
}
.train{
    background-color: #1321A9;
}
.ferry{
    background-color: #6A2D98;
}

.velgebutton{
    font-family: 'TID UI';
    font-size: 200%;
    border-radius: 8px;
    border: none;
    background-color: #2c2c2c;
    color: white;
    padding: 8px;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
}
.velgebutton:hover{
    background-color: #383833;
}
.velgebutton.light_mode5:hover{
    background-color: #b2b2b2;
}

.selected{
    background-color: #383838;
    border: 1px solid white;
}
.selected.light_mode5{
    border: 1px solid black;
}
.ekstra_valg{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    padding: 4px;
    margin: 8px;
    margin-bottom: 0px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.ekstra_valg.light_mode2 button.selected{
    background-color: #b2b2b2;
}

.toggle_light_mode{
    cursor: pointer;
    position: absolute;
    right: 8px;
    font-size: 250%;
}

.light_mode{
    background-color: white;
    color: black;
}
.light_mode2{
    background-color: #e5e5e5;
    color: black;
}
.light_mode2 button, .light_mode3 .stasjonsP, .light_mode4 #fra_input[type=text], .light_mode4 #til_input[type=text]{
    background-color: #cccccc;
    color: black;
}
#avgangankomstdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    width: 100%;
    padding-bottom: 4px;
}
#datetimepicker{
    margin-top: 6px;
    margin-bottom: 8px;
    display: none;
    color: white;
    color-scheme: dark;
    width: 100%;
    padding-bottom: 4px;
    
}
#datetimepicker[type=datetime-local]{
    display: block;
    width: 94%;
    font-family: 'TID UI';
    font-size: 150%;
    border-radius: 8px;
    border: none;
    background-color: #2c2c2c;
    color: white;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
}
#datetimepicker[type=datetime-local]:hover, #datetimepicker[type=datetime-local]:focus{
    background-color: #383833;
}
#datetimepicker.light_mode2{
    color-scheme: light;
    background-color: #383833;
}
#datetimepicker.light_mode3{
    color-scheme: light;
}
#datetimepicker[type=datetime-local].light_mode2{
    color-scheme: light;
    background-color: #cccccc;
    color: black;
}
#datetimepicker[type=datetime-local].light_mode2:hover, #datetimepicker[type=datetime-local].light_mode2:focus{
    background-color: #b2b2b2;
}
.ekstrabutton{
    font-family: 'TID UI';
    font-size: 175%;
    border: none;
    background-color: #1f1f1f;
    color: white;
    width: 100%;
    cursor: pointer;
    margin-top: 4px;
    padding: 4px;
}
.ekstrabutton.light_mode{
    background-color: #e5e5e5;
}
#avansert_ekstra_valg{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    font-family: 'TID UI';
    margin-top: 8px;
    flex-flow: column;
}
#byttetidid{
    display: block;
    width: 100%;
    font-family: 'TID UI';
    font-size: 150%;
    border-radius: 8px;
    border: none;
    background-color: #383838;
    color: white;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    margin-left: 8px;
}
#byttetiddiv p{
    font-size: 200%;
    margin: 8px;
}
#byttetiddiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    background-color: #2c2c2c;
    color: white;
    border-radius: 8px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 4px;
}
#byttetiddiv.light_mode{
    background-color: #cccccc;
    color: black;
}
#ekskludertelinjerdiv p{
    font-size: 200%;
    margin: 8px;
}
#ekskludertelinjerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #2c2c2c;
    color: white;
    border-radius: 8px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 4px;
    width: 56%;
}
#ekskludertelinjerdivline1{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px dashed white;
}
#ekskludertelinjerInput[type=text]{
    display: block;
    font-family: 'TID UI';
    font-size: 150%;
    width: 20%;
    border-radius: 8px;
    border: none;
    background-color: #383838;
    color: white;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
    margin-left: 8px;
}
#ekskludertelinjerInput[type=text]:hover, #ekskludertelinjerdiv.input[type=text]:focus{
    background-color: #454545;
}
#ekskludertelinjerInput[type=text].light_mode4{
    background-color: #b2b2b2;
    color: black;
}
#ekskludertelinjerInput[type=text].light_mode4:hover, #ekskludertelinjerdiv.input[type=text].light_mode4:focus{
    background-color: #a5a5a5;
}

#ekskludertelinjerliste{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4px;
}

#byttetidid.light_mode{
    background-color: #b2b2b2;
    color: black;
}
#resultater{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    font-family: 'TID UI';
    font-size: 150%;
    color: white;
    background-color: #1F1F1F;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#resultater.light_mode{
    color: black;
    background-color: #e5e5e5;
}

.thisDepartureDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px;
    font-family: 'TID UI';
    font-size: 150%;
    color: white;
    background-color: #2c2c2c;
    padding: 8px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#resultater.light_mode .thisDepartureDiv{
    background-color: #cccccc;
    color: black;
}
.line-tag{
    font-family: 'TID UI';
    font-size: 150%;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    background-color: #E60000;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}



@font-face {
    font-family: 'TID UI';
    src: url(fonts/TIDUI-Regular.ttf);
}